node_modules/

.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/

coverage/

pids
logs
*.pid
*.seed

.DS_Store
Thumbs.db

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

uploads/